{{#each inputs as |input index|}}
  {{#if renderComponent}}
    {{component renderComponent input.value index}}
  {{else}}
    <div class='input-value' {{action 'editInput' input.id}}>
      {{#if canDeleteInput}}
        <span class='delete-input' {{action 'deleteInput' input.id}}>×</span>
      {{/if}}
      {{input.value}}
    </div>
  {{/if}}
{{/each}}
<div class='input-wrapper'>
   <input type={{type}} autocomplete="off"
      autocorrect="off" autocapitalize="off"
      spellcheck="false" role="combobox"
      class="multi-input-input"
      value={{currentInput}}
      placeholder={{inputPlaceholder}}
      oninput={{action 'onInput'}}
      onblur={{action 'onBlur'}}
      onkeydown={{action 'onKeydown'}} >
</div>
{{#if _error.full_message}}
  <div class='error-message {{if _live_error 'live-error' 'min-error'}}'>
    {{_error.full_message}}
  </div>
{{/if}}